
.chat
  .sidebar
    .sidebar__user
      .sidebar__user--name
        YUMA
      .sidebar__user--btn
        = link_to groups_path, method: :post do
          %i.fa.fa-pencil-square-o
        = link_to edit_user_registration_path do
          %i.fa.fa-cog.fa-lx 
    .sidebar__groups-list
      .sidebar__groups-list__group
        .sidebar__groups-list__group--name AAA
        .sidebar__groups-list__group--newest-message SKY-HIやばい
      .sidebar__groups-list__group
        .sidebar__groups-list__group--name 空手
        .sidebar__groups-list__group--newest-message 糸東流
      .sidebar__groups-list__group
        .sidebar__groups-list__group--name sample
        .sidebar__groups-list__group--newest-message まだメッセージはありません。

  .chat-main
    .chat-main__header
      .chat-main__header__left
        .chat-main__header__left--group AAA
        .chat-main__header__left--member MEMBER: YUMA
      %div
        = link_to edit_group_path(:id) do
          .chat-main__header__right Edit


    .chat-main__body
      .chat-main__body__message
        .chat-main__body__message--name YUMA
        .chat-main__body__message--time 2017/04/11 13:36:04
        .chat-main__body__message--content Nissy
      .chat-main__body__message
        .chat-main__body__message--name YUMA2
        .chat-main__body__message--time 2017/04/11 13:37:53
        .chat-main__body__message--content SKY-HI
      .chat-main__body__message
        .chat-main__body__message--name YUMA3
        .chat-main__body__message--time 2017/04/11 13:38:02
        .chat-main__body__message--content SKY-HIやばい

    .chat-main__footer
      .chat-main__footer--form
        type a message
        %i.fa.fa-picture-o
      .chat-main__footer--btn Send






