html, body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  color: white;
}

.flash-alert-notice {
 background-color: blue;
 text-align: center;
 color: white;
}

.chat{
  height: 100%;
  .sidebar {
    float: left;
    width: 300px;
    height: 100vh;
    background-color: $Deepblue1;
    &__user {
      @include clearfix();
      background-color: $Deepblue2;
      color: $White;
      padding: 42px 20px;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 2px;
      &--name {
        float: left;
      }
      &--btn {
        float: right;
        
        a{
          color: $White;
          text-decoration-line: none;
        }
      }
    }
    &__groups-list {
      padding: 20px;
      color: $White;
      &__group {
        &--name {
          font-size: 15px;
          padding-bottom: 5px;
          color: $White;
        }
        &--newest-message {
          font-size: 11px;
          padding-bottom: 40px;
          color: $White;
        }
      }
    }
  }

  .chat-main {
    float: left;
    height: 100vh;
    width: calc( 100vw - 300px );
    position: relative;
    &__header {
      @include clearfix();
      width: calc( 100vw - 300px );
      border-bottom: 1px solid $LightGray;
      &__left {
        float: left;
        &--group {
          padding: 35px 0 0 40px;
          font-size: 20px;
          color: $BlackGray;
        }
        &--member {
          padding: 15px 0 0 40px;
          font-size: 12px;
          color: $Gray;
        }
      }
      &__right {
        float: right;
        color: $SkyBlue;
        margin: 28px 40px;
        border: 1px solid $SkyBlue;
        padding: 12.5px 20px;
        a {
          color: $SkyBlue;
        }
      }
    }

    &__body {
      padding: 6px 40px 0;
      overflow-y: scroll;
      max-height: calc( 100vh - 198px );
      &__message {
        @include clearfix();
        padding-top: 40px;
        &--name {
          float: left;
          font-size: 16px;
          font-weight: bold;
          color: $Black;
          padding-right: 10px;
        }
        &--time {
          float: left;
          font-size: 12px;
          color: $Gray;
        }
        &--content {
          clear: both;
          font-size: 14px;
          color: $Black;
          padding: 10px 0 40px;
        }
      }
    }

    &__footer {
      position: absolute;
      bottom: 0;
      background-color: $Gray;
      width: calc( 100vw - 300px );
      height: 50px;
      padding: 20px 0;
      &--form {
        background-color: $White;
        .send_form {
          float: left;
          font-size: 16px;
          width: calc( 100% - 225px);
          margin-left: 40px;
          padding: 13px 10px;
        i {
          float: right;
          color: $Black;
          padding: 4px 5px;
        }
        }
        .image {
            position: absolute;
            right: 175px;
            top: 34px;
            color: $Black;
          }
      }
      &--btn {
        .send_btn {
          float: right;
          background-color: $SkyBlue;
          color: $White;
          width: 100px;
          margin-right: 40px;
          text-align: center;
          padding: 13px 0;
        }
      }
    }
  }
}
